<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidcodegeeks.user">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.androidcodegeeks.usermanagement.ViewDetailActivity"
            android:label="View Detail Activity"
            android:parentActivityName="com.androidcodegeeks.usermanagement.UserListActivity"/>
        <activity android:name="com.androidcodegeeks.usermanagement.UserListActivity"
            android:label="Users List Activity"
            android:parentActivityName="com.androidcodegeeks.usermanagement.UsersPageActivity"/>
        <activity android:name="com.androidcodegeeks.usermanagement.UsersPageActivity"
            android:label="Users Page Activity"
            android:parentActivityName="com.androidcodegeeks.usermanagement.LoginActivity"/>
        <activity android:name="com.androidcodegeeks.usermanagement.RegistrationActivity"
            android:label="Registration Activity"
            android:parentActivityName="com.androidcodegeeks.usermanagement.LoginActivity"/>
        <activity android:name="com.androidcodegeeks.usermanagement.LoginActivity" />
        <activity
            android:name="com.androidcodegeeks.usermanagement.MainActivity"
            android:theme="@style/AppStartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>